In [121]:
import pandas as pd
import numpy as np

In [122]:
pd.set_option('display.max_columns',999)

## Task no - 1

Merge the 3 dataset and create 1 view of data.
You can merge insurance_data.csv and employee_data.csv on
AGENT_ID You can merge insurance_data.csv and vendor_data.csv on
VENDOR_ID Note: Use left Outer join as not all claims require Vendor

In [123]:
employee_data=pd.read_csv('employee_data.csv') ## reading the employee data
employee_data.head()

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,2003-09-02,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,2004-09-23,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,2011-06-21,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134

In [124]:
insurance_data=pd.read_csv('insurance_data.csv')
insurance_data.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,Christopher Demarest,7701 West Saint John Road,#2010,Glendale,AZ,85308,087-11-1946,Y,54,89,Y,3,L,Own,LI,109134974,HXJP58258181908465,Bachelor,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,Ricardo Gatlin,8595 West 81st Drive,NaN,Arvada,CO,80005,685-33-3536,N,61,80,Y,4,L,Rent,MI,40125819,JUND46859540983731,Bachelor,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,Lashawn Engles,637 Britannia Drive,NaN,Vallejo,CA,94591,378-36-0672,N,47,68,Y,6,L,Rent,MI,99513168,WGZZ90128415227650,PhD,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,Steven Bassett,2803 River Drive,NaN,Thunderbolt,GA,31404,669-92-1861,Y,36,16,Y,7,L,Mortgage,MI,18429110,WIKE91555436351397,Masters,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,Jason Rodriguez,7573 National Drive,NaN,Livermore,CA,94550,703-40-1033,Y,51,16,Y,2,M,Rent,HI,70752391,VYJW71311537294027,Masters,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472

In [125]:
vendor_data=pd.read_csv('vendor_data.csv')
vendor_data.head()

,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,VNDR00001,"King, Proctor and Jones",2027 North Shannon Drive,#5,Fayetteville,AR,72703
1,VNDR00002,Garcia Ltd,5701 East Shirley Lane,NaN,Montgomery,AL,36117
2,VNDR00003,Cherry LLC,1217 Cottondale Road,NaN,Montgomery,AL,36109
3,VNDR00004,Mays-Benson,227 West Montgomery Cross Road,#736,Savannah,GA,31406
4,VNDR00005,Wilson PLC,23 North Hill Street,NaN,Nashville,TN,37210

In [126]:
print('Shape of employee data: ',employee_data.shape)
print('Shape of insurance data: ',insurance_data.shape)
print('Shape of vendor data: ',vendor_data.shape)

Shape of employee data:  (1200, 10)
Shape of insurance data:  (10000, 38)
Shape of vendor data:  (600, 7)

In [127]:
insurance_df2=pd.merge(insurance_data,employee_data,on='AGENT_ID',how='outer')
insurance_df2

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,Christopher Demarest,7701 West Saint John Road,#2010,Glendale,AZ,85308,087-11-1946,Y,54,89,Y,3,L,Own,LI,109134974,HXJP58258181908465,Bachelor,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934
1,2020-06-10 00:00:00,TXN00000258,A00003072,PLC00008557,2014-02-15,2020-05-27,2020-06-01,Life,57.15,54000,Tommy Young,7717 Everett Street,NaN,Arvada,CO,80005,334-02-5555,Y,33,6,Y,2,M,Own,MI,69390874,UBWX63573537274229,NaN,A,Minor Loss,None,0,1,AK,Anchorage,13,AGENT00413,NaN,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934
2,2020-09-07 00:00:00,TXN00002428,A00001447,PLC00004391,2015-01-30,2020-08-23,2020-08-28,Life,65.06,13000,Kathy Keim,8852 Broderick Street,NaN,Montgomery,AL,36117,544-32-9475,N,29,83,Y,2,M,Mortgage,HI,40940379,HZIX41799259130238,Bachelor,A,Major Loss,Ambulance,1,1,AK,Anchorage,21,AGENT00413,NaN,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934
3,2020-09-22 00:00:00,TXN00002811,A00001822,PLC00009369,2012-08-22,2020-09-06,2020-09-11,Life,87.16,42000,George Schmidt,1601 East 19th Street,NaN,Edmond,OK,73013,816-92-8348,Y,54,54,Y,7,H,Mortgage,MI,41864658,UFLO69048812159326,Bachelor,D,Minor Loss,Ambulance,1,1,AK,Anchorage,6,AGENT00413,NaN,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934
4,2020-09-24 00:00:00,TXN00002861,A00006019,PLC00006747,2017-02-05,2020-09-14,2020-09-17,Mobile,11.85,500,Allan Baumeister,1931 West Deane Street,A,Fayetteville,AR,72703,151-85-3581,Y,30,8,Y,6,M,Mortgage,HI,64589790,RLOK11640594967572,Bachelor,A,Total Loss,Other,1,1,FL,Lynn Haven,15,AGENT00413,VNDR00344,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-04-28 00:00:00,TXN00008381,A00006144,PLC00005140,2012-10-23,2021-04-15,2021-04-20,Life,64.16,93000,Ana Garcia,2109 Puddingtons Patent Way,NaN,Gambrills,MD,21054,853-54-7840,Y,44,44,Y,3,L,Own,MI,57916448,XENC66659209034767,High School,A,Total Loss,Ambulance,0,1,DC,Washington,12,AGENT00415,VNDR00378,Angel Alexander,2012-08-26,44 Downey Drive,NaN,Manchester,CT,6040,55484383,CLKD05622028357384
9996,2021-05-02 00:00:00,TXN00008462,A00004250,PLC00009507,2019-08-30,2021-04-20,2021-04-25,Mobile,9.76,300,Roy Sipp,6725 Pamela Court,NaN,Montgomery,AL,36116,755-20-3099,Y,46,118,Y,4,L,Rent,HI,95160557,ODRV07273661499087,Bachelor,A,Total Loss,Ambulance,1,1,TN,Nashville,15,AGENT00415,NaN,Angel Alexander,2012-08-26,44 Downey Drive,NaN,Manchester,CT,6040,55484383,CLKD05622028357384
9997,2021-06-08 00:00:00,TXN00009410,A00004412,PLC00005536,2019-11-25,2021-06-05,2021-06-05,Motor,97.78,3000,Josephine Williams,9827 Davenport Avenue,NaN,Youngstown,FL,32466,650-70-1179,Y,35,110,Y,6,L,Mortgage,MI,38624238,PAPF34195679051917,High School,A,Major Loss,Police,0,1,AZ,Glendale,18,AGENT00415,VNDR00580,Angel Alexander,2012-08-26,44 Downey Drive,NaN,Manchester,CT,6040,55484383,CLKD05622028357384
9998,2021-06-21 00:00:00,TXN00009756,A00003267,PLC00007273,2012-09-29,2021-06-01,2021-06-06,Mobile,7.64,200,Daniel Benninger,836 Lamont Street Northwest,NaN,Washington,DC,20010,009-20-7636,Y,27,83,Y,5,M,Rent,MI,119224573,FMGG10888935938811,Bachelor,A,Major Loss,Ambulance,1,0,CT,Manchester,5,AGENT00415,VNDR00383,Angel Alexander,2012-08-26,44 Downey Drive,NaN,Manchester,CT,6040,55484383,CLKD05622028357384
9999,2021-05-11 00:00:00,TXN00008671,A00006937,PLC00007149,2016-01-11,2021-05-08,2021-05-08,Life,73.51,49000,Frances Clark,17800 Creekwood Lane,NaN,Choctaw,OK,73020,310-56-8479,Y,31,16,Y,6,M,Mortgage,MI,97375489,PGEI39025399101560,Bachelor,A,Major Loss,Ambulance,1,1,FL,Beverly Hills,11,AGENT01161,NaN,Charlotte Payne,2012-10-12,200 Boulder Road,NaN,Manchester,CT,6040,118343345,HEWS38892486083575

In [128]:
insurance_df=pd.merge(insurance_df2,vendor_data,on='VENDOR_ID',how='left')
insurance_df

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,Christopher Demarest,7701 West Saint John Road,#2010,Glendale,AZ,85308,087-11-1946,Y,54,89,Y,3,L,Own,LI,109134974,HXJP58258181908465,Bachelor,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0
1,2020-06-10 00:00:00,TXN00000258,A00003072,PLC00008557,2014-02-15,2020-05-27,2020-06-01,Life,57.15,54000,Tommy Young,7717 Everett Street,NaN,Arvada,CO,80005,334-02-5555,Y,33,6,Y,2,M,Own,MI,69390874,UBWX63573537274229,NaN,A,Minor Loss,None,0,1,AK,Anchorage,13,AGENT00413,NaN,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-09-07 00:00:00,TXN00002428,A00001447,PLC00004391,2015-01-30,2020-08-23,2020-08-28,Life,65.06,13000,Kathy Keim,8852 Broderick Street,NaN,Montgomery,AL,36117,544-32-9475,N,29,83,Y,2,M,Mortgage,HI,40940379,HZIX41799259130238,Bachelor,A,Major Loss,Ambulance,1,1,AK,Anchorage,21,AGENT00413,NaN,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-09-22 00:00:00,TXN00002811,A00001822,PLC00009369,2012-08-22,2020-09-06,2020-09-11,Life,87.16,42000,George Schmidt,1601 East 19th Street,NaN,Edmond,OK,73013,816-92-8348,Y,54,54,Y,7,H,Mortgage,MI,41864658,UFLO69048812159326,Bachelor,D,Minor Loss,Ambulance,1,1,AK,Anchorage,6,AGENT00413,NaN,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-09-24 00:00:00,TXN00002861,A00006019,PLC00006747,2017-02-05,2020-09-14,2020-09-17,Mobile,11.85,500,Allan Baumeister,1931 West Deane Street,A,Fayetteville,AR,72703,151-85-3581,Y,30,8,Y,6,M,Mortgage,HI,64589790,RLOK11640594967572,Bachelor,A,Total Loss,Other,1,1,FL,Lynn Haven,15,AGENT00413,VNDR00344,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,Lewis Ltd,204 North Holt Street,NaN,Montgomery,AL,36104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-04-28 00:00:00,TXN00008381,A00006144,PLC00005140,2012-10-23,2021-04-15,2021-04-20,Life,64.16,93000,Ana Garcia,2109 Puddingtons Patent Way,NaN,Gambrills,MD,21054,853-54-7840,Y,44,44,Y,3,L,Own,MI,57916448,XENC66659209034767,High School,A,Total Loss,Ambulance,0,1,DC,Washington,12,AGENT00415,VNDR00378,Angel Alexander,2012-08-26,44 Downey Drive,NaN,Manchester,CT,6040,55484383,CLKD05622028357384,"Reed, Bartlett and Miles",37 East Broad Street,NaN,Savannah,GA,31401.0
9996,2021-05-02 00:00:00,TXN00008462,A00004250,PLC00009507,2019-08-30,2021-04-20,2021-04-25,Mobile,9.76,300,Roy Sipp,6725 Pamela Court,NaN,Montgomery,AL,36116,755-20-3099,Y,46,118,Y,4,L,Rent,HI,95160557,ODRV07273661499087,Bachelor,A,Total Loss,Ambulance,1,1,TN,Nashville,15,AGENT00415,NaN,Angel Alexander,2012-08-26,44 Downey Drive,NaN,Manchester,CT,6040,55484383,CLKD05622028357384,NaN,NaN,NaN,NaN,NaN,NaN
9997,2021-06-08 00:00:00,TXN00009410,A00004412,PLC00005536,2019-11-25,2021-06-05,2021-06-05,Motor,97.78,3000,Josephine Williams,9827 Davenport Avenue,NaN,Youngstown,FL,32466,650-70-1179,Y,35,110,Y,6,L,Mortgage,MI,38624238,PAPF34195679051917,High School,A,Major Loss,Police,0,1,AZ,Glendale,18,AGENT00415,VNDR00580,Angel Alexander,2012-08-26,44 Downey Drive,NaN,Manchester,CT,6040,55484383,CLKD05622028357384,Dennis LLC,511 Norton Avenue,NaN,Nashville,TN,37207.0
9998,2021-06-21 00:00:00,TXN00009756,A00003267,PLC00007273,2012-09-29,2021-06-01,2021-06-06,Mobile,7.64,200,Daniel Benninger,836 Lamont Street Northwest,NaN,Washington,DC,20010,009-20-7636,Y,27,83,Y,5,M,Rent,MI,119224573,FMGG10888935938811,Bachelor,A,Major Loss,Ambulance,1,0,CT,Manchester,5,AGENT00415,VNDR00383,Angel Alexander,2012-08-26,44 Downey Drive,NaN,Manchester,CT,6040,55484383,CLKD05622028357384,"Dawson, Taylor and Chavez",756 Neponset Street,NaN,Norwood,MA,2062.0
9999,2021-05-11 00:00:00,TXN00008671,A00006937,PLC00007149,2016-01-11,2021-05-08,2021-05-08,Life,73.51,49000,Frances Clark,17800 Creekwood Lane,NaN,Choctaw,OK,73020,310-56-8479,Y,31,16,Y,6,M,Mortgage,MI,97375489,PGEI39025399101560,Bachelor,A,Major Loss,Ambulance,1,1,FL,Beverly Hills,11,AGENT01161,NaN,Charlotte Payne,2012-10-12,200 Boulder Road,NaN,Manchester,CT,6040,118343345,HEWS38892486083575,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
insurance_df.isnull().sum()

TXN_DATE_TIME                  0
TRANSACTION_ID                 0
CUSTOMER_ID                    0
POLICY_NUMBER                  0
POLICY_EFF_DT                  0
LOSS_DT                        0
REPORT_DT                      0
INSURANCE_TYPE                 0
PREMIUM_AMOUNT                 0
CLAIM_AMOUNT                   0
CUSTOMER_NAME                  0
ADDRESS_LINE1_x                0
ADDRESS_LINE2_x             8505
CITY_x                        54
STATE_x                        0
POSTAL_CODE_x                  0
SSN                            0
MARITAL_STATUS                 0
AGE                            0
TENURE                         0
EMPLOYMENT_STATUS              0
NO_OF_FAMILY_MEMBERS           0
RISK_SEGMENTATION              0
HOUSE_TYPE                     0
SOCIAL_CLASS                   0
ROUTING_NUMBER                 0
ACCT_NUMBER                    0
CUSTOMER_EDUCATION_LEVEL     529
CLAIM_STATUS                   0
INCIDENT_SEVERITY              0
AUTHORITY_CONTACTED            0
ANY_INJURY                     0
POLICE_REPORT_AVAILABLE        0
INCIDENT_STATE                 0
INCIDENT_CITY                 46
INCIDENT_HOUR_OF_THE_DAY       0
AGENT_ID                       0
VENDOR_ID                   3245
AGENT_NAME                     0
DATE_OF_JOINING                0
ADDRESS_LINE1_y                0
ADDRESS_LINE2_y             8549
CITY_y                        54
STATE_y                        0
POSTAL_CODE_y                  0
EMP_ROUTING_NUMBER             0
EMP_ACCT_NUMBER                0
VENDOR_NAME                 3245
ADDRESS_LINE1               3245
ADDRESS_LINE2               8855
CITY                        3287
STATE                       3245
POSTAL_CODE                 3245
dtype: int64

## Task #2
Business Leader wants to find Top 3 Insurance Type where we are getting
most insurance claims?

In [130]:
insurance_df.groupby('INSURANCE_TYPE')['CLAIM_AMOUNT'].sum().sort_values(ascending=False).head(3)

INSURANCE_TYPE
Life        91478000
Property    41579000
Health      18254000
Name: CLAIM_AMOUNT, dtype: int64

##### Life ,Property,Health insurance are top 3 insurance types in terms of claim amount

In [131]:
insurance_df.groupby('INSURANCE_TYPE')['CLAIM_AMOUNT'].count().sort_values(ascending=False).head(3)

INSURANCE_TYPE
Mobile      1692
Property    1692
Health      1690
Name: CLAIM_AMOUNT, dtype: int64

##### Mobile ,Property,Health insurance are top 3 insurance types in terms of no of cliams

## Task #3
Business Leader wants to find Top 5 States where we are getting most insurance claims
for customer belonging to HIGH(H) risk segment?

In [132]:
insurance_data.columns

Index(['TXN_DATE_TIME', 'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER',
       'POLICY_EFF_DT', 'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE',
       'PREMIUM_AMOUNT', 'CLAIM_AMOUNT', 'CUSTOMER_NAME', 'ADDRESS_LINE1',
       'ADDRESS_LINE2', 'CITY', 'STATE', 'POSTAL_CODE', 'SSN',
       'MARITAL_STATUS', 'AGE', 'TENURE', 'EMPLOYMENT_STATUS',
       'NO_OF_FAMILY_MEMBERS', 'RISK_SEGMENTATION', 'HOUSE_TYPE',
       'SOCIAL_CLASS', 'ROUTING_NUMBER', 'ACCT_NUMBER',
       'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS', 'INCIDENT_SEVERITY',
       'AUTHORITY_CONTACTED', 'ANY_INJURY', 'POLICE_REPORT_AVAILABLE',
       'INCIDENT_STATE', 'INCIDENT_CITY', 'INCIDENT_HOUR_OF_THE_DAY',
       'AGENT_ID', 'VENDOR_ID'],
      dtype='object')

##### Risk segmentation and state feature combined is only present in insurance_data

### Top 5 States where we are getting most number of insurance claims for customer belonging to HIGH(H) risk segment

In [133]:
insurance_data[insurance_data['RISK_SEGMENTATION']=='H'].groupby('STATE').size().sort_values(ascending=False).head()

STATE
CA    148
AZ    105
FL    104
TN    100
AR     97
dtype: int64

### Top 5 States where we are getting most insurance claims for customer belonging to HIGH(H) risk segment in terms of claim amount

In [134]:
insurance_data[insurance_data['RISK_SEGMENTATION']=='H'].groupby(['STATE','CLAIM_AMOUNT']).size().sort_values(ascending=False).head()

STATE  CLAIM_AMOUNT
AZ     1000            10
FL     5000            10
TN     5000             9
AL     1000             9
AR     2000             8
dtype: int64

# Task #4
Business wants to create a new variable “COLOCATION” which will have following values IF
Customer State == Incident State == Agent Address State THEN 1 ELSE 0
Find the mean of this new column

In [135]:
insurance_df.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,Christopher Demarest,7701 West Saint John Road,#2010,Glendale,AZ,85308,087-11-1946,Y,54,89,Y,3,L,Own,LI,109134974,HXJP58258181908465,Bachelor,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0
1,2020-06-10 00:00:00,TXN00000258,A00003072,PLC00008557,2014-02-15,2020-05-27,2020-06-01,Life,57.15,54000,Tommy Young,7717 Everett Street,NaN,Arvada,CO,80005,334-02-5555,Y,33,6,Y,2,M,Own,MI,69390874,UBWX63573537274229,NaN,A,Minor Loss,None,0,1,AK,Anchorage,13,AGENT00413,NaN,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-09-07 00:00:00,TXN00002428,A00001447,PLC00004391,2015-01-30,2020-08-23,2020-08-28,Life,65.06,13000,Kathy Keim,8852 Broderick Street,NaN,Montgomery,AL,36117,544-32-9475,N,29,83,Y,2,M,Mortgage,HI,40940379,HZIX41799259130238,Bachelor,A,Major Loss,Ambulance,1,1,AK,Anchorage,21,AGENT00413,NaN,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-09-22 00:00:00,TXN00002811,A00001822,PLC00009369,2012-08-22,2020-09-06,2020-09-11,Life,87.16,42000,George Schmidt,1601 East 19th Street,NaN,Edmond,OK,73013,816-92-8348,Y,54,54,Y,7,H,Mortgage,MI,41864658,UFLO69048812159326,Bachelor,D,Minor Loss,Ambulance,1,1,AK,Anchorage,6,AGENT00413,NaN,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-09-24 00:00:00,TXN00002861,A00006019,PLC00006747,2017-02-05,2020-09-14,2020-09-17,Mobile,11.85,500,Allan Baumeister,1931 West Deane Street,A,Fayetteville,AR,72703,151-85-3581,Y,30,8,Y,6,M,Mortgage,HI,64589790,RLOK11640594967572,Bachelor,A,Total Loss,Other,1,1,FL,Lynn Haven,15,AGENT00413,VNDR00344,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,Lewis Ltd,204 North Holt Street,NaN,Montgomery,AL,36104.0

In [136]:
insurance_df.columns

Index(['TXN_DATE_TIME', 'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER',
       'POLICY_EFF_DT', 'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE',
       'PREMIUM_AMOUNT', 'CLAIM_AMOUNT', 'CUSTOMER_NAME', 'ADDRESS_LINE1_x',
       'ADDRESS_LINE2_x', 'CITY_x', 'STATE_x', 'POSTAL_CODE_x', 'SSN',
       'MARITAL_STATUS', 'AGE', 'TENURE', 'EMPLOYMENT_STATUS',
       'NO_OF_FAMILY_MEMBERS', 'RISK_SEGMENTATION', 'HOUSE_TYPE',
       'SOCIAL_CLASS', 'ROUTING_NUMBER', 'ACCT_NUMBER',
       'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS', 'INCIDENT_SEVERITY',
       'AUTHORITY_CONTACTED', 'ANY_INJURY', 'POLICE_REPORT_AVAILABLE',
       'INCIDENT_STATE', 'INCIDENT_CITY', 'INCIDENT_HOUR_OF_THE_DAY',
       'AGENT_ID', 'VENDOR_ID', 'AGENT_NAME', 'DATE_OF_JOINING',
       'ADDRESS_LINE1_y', 'ADDRESS_LINE2_y', 'CITY_y', 'STATE_y',
       'POSTAL_CODE_y', 'EMP_ROUTING_NUMBER', 'EMP_ACCT_NUMBER', 'VENDOR_NAME',
       'ADDRESS_LINE1', 'ADDRESS_LINE2', 'CITY', 'STATE', 'POSTAL_CODE'],
      dtype='object')

In [141]:
def colocation(insurance_df):
    if (insurance_df['STATE_x']==insurance_df['INCIDENT_STATE']) & (insurance_df['INCIDENT_STATE']==insurance_df['STATE_y']):
        val=1
    else:
        val=0
    return val

In [142]:
insurance_df['COLOCATION']=insurance_df.apply(colocation,axis=1)

In [147]:
insurance_df['COLOCATION'].mean()

0.0044

In [146]:
insurance_df.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,Christopher Demarest,7701 West Saint John Road,#2010,Glendale,AZ,85308,087-11-1946,Y,54,89,Y,3,L,Own,LI,109134974,HXJP58258181908465,Bachelor,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0,0
1,2020-06-10 00:00:00,TXN00000258,A00003072,PLC00008557,2014-02-15,2020-05-27,2020-06-01,Life,57.15,54000,Tommy Young,7717 Everett Street,NaN,Arvada,CO,80005,334-02-5555,Y,33,6,Y,2,M,Own,MI,69390874,UBWX63573537274229,NaN,A,Minor Loss,None,0,1,AK,Anchorage,13,AGENT00413,NaN,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2020-09-07 00:00:00,TXN00002428,A00001447,PLC00004391,2015-01-30,2020-08-23,2020-08-28,Life,65.06,13000,Kathy Keim,8852 Broderick Street,NaN,Montgomery,AL,36117,544-32-9475,N,29,83,Y,2,M,Mortgage,HI,40940379,HZIX41799259130238,Bachelor,A,Major Loss,Ambulance,1,1,AK,Anchorage,21,AGENT00413,NaN,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2020-09-22 00:00:00,TXN00002811,A00001822,PLC00009369,2012-08-22,2020-09-06,2020-09-11,Life,87.16,42000,George Schmidt,1601 East 19th Street,NaN,Edmond,OK,73013,816-92-8348,Y,54,54,Y,7,H,Mortgage,MI,41864658,UFLO69048812159326,Bachelor,D,Minor Loss,Ambulance,1,1,AK,Anchorage,6,AGENT00413,NaN,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,NaN,NaN,NaN,NaN,NaN,NaN,0
4,2020-09-24 00:00:00,TXN00002861,A00006019,PLC00006747,2017-02-05,2020-09-14,2020-09-17,Mobile,11.85,500,Allan Baumeister,1931 West Deane Street,A,Fayetteville,AR,72703,151-85-3581,Y,30,8,Y,6,M,Mortgage,HI,64589790,RLOK11640594967572,Bachelor,A,Total Loss,Other,1,1,FL,Lynn Haven,15,AGENT00413,VNDR00344,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,Lewis Ltd,204 North Holt Street,NaN,Montgomery,AL,36104.0,0

Mean of COLOCATION column=0.44

## Task #5
Data entry error was detected in the data and you are required to correct it. If for any
claim transaction “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE == 1
Then Update “AUTHORITY_CONTACTED” to Police.

In [151]:
insurance_df['AUTHORITY_CONTACTED'].unique()

array(['Police', 'None', 'Ambulance', 'Other'], dtype=object)

In [152]:
insurance_df['POLICE_REPORT_AVAILABLE'].unique()

array([1, 0], dtype=int64)

In [156]:
insurance_df.loc[(insurance_df['AUTHORITY_CONTACTED'] != 'Police') & (insurance_df['POLICE_REPORT_AVAILABLE'] == 1), 'AUTHORITY_CONTACTED'] = 'Police'

In [159]:
insurance_df.AUTHORITY_CONTACTED.value_counts()

Police       7852
Ambulance    1261
None          578
Other         309
Name: AUTHORITY_CONTACTED, dtype: int64

## Task #6
Business wants to check the Claim Amount for deviation for each transaction, they would
like you to calculate as follow
CLAIM_DEVIATION = AVG_CLAIM_AMOUNT_FOR_LAST_30DAYS (same insurance type)
/ CURRENT_CLAIM_AMOUNT
If the value < 0.5 THEN CLAIM_DEVIATION = 1 ELSE 0
If there is less than 30 days of transaction history THEN
-1 Note: LAST_30DAYS does not include current day

In [167]:
insurance_df['TXN_DATE_TIME'].dtype

dtype('O')

In [172]:
last_30_days=insurance_df[(insurance_df['TXN_DATE_TIME'] > '2021-03-31') & (insurance_df['TXN_DATE_TIME'] < '2021-04-30')]
last_30_days['CLAIM_AMOUNT'].mean()

15611.826544021025

In [174]:
insurance_df['CLAIM_DEVIATION']=last_30_days['CLAIM_AMOUNT'].mean()/insurance_df['CLAIM_AMOUNT']###column created

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,CLAIM_DEVIATION
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,Christopher Demarest,7701 West Saint John Road,#2010,Glendale,AZ,85308,087-11-1946,Y,54,89,Y,3,L,Own,LI,109134974,HXJP58258181908465,Bachelor,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0,0,1.734647
1,2020-06-10 00:00:00,TXN00000258,A00003072,PLC00008557,2014-02-15,2020-05-27,2020-06-01,Life,57.15,54000,Tommy Young,7717 Everett Street,NaN,Arvada,CO,80005,334-02-5555,Y,33,6,Y,2,M,Own,MI,69390874,UBWX63573537274229,NaN,A,Minor Loss,Police,0,1,AK,Anchorage,13,AGENT00413,NaN,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,NaN,NaN,NaN,NaN,NaN,NaN,0,0.289108
2,2020-09-07 00:00:00,TXN00002428,A00001447,PLC00004391,2015-01-30,2020-08-23,2020-08-28,Life,65.06,13000,Kathy Keim,8852 Broderick Street,NaN,Montgomery,AL,36117,544-32-9475,N,29,83,Y,2,M,Mortgage,HI,40940379,HZIX41799259130238,Bachelor,A,Major Loss,Police,1,1,AK,Anchorage,21,AGENT00413,NaN,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,NaN,NaN,NaN,NaN,NaN,NaN,0,1.200910

In [175]:
insurance_df['CLAIM_DEVIATION_VALUE']=np.where(insurance_df['CLAIM_DEVIATION']>0.5,1,0)

In [176]:
insurance_df[['CLAIM_DEVIATION','CLAIM_DEVIATION_VALUE']]

      CLAIM_DEVIATION  CLAIM_DEVIATION_VALUE
0            1.734647                      1
1            0.289108                      0
2            1.200910                      1
3            0.371710                      0
4           31.223653                      1
...               ...                    ...
9995         0.167869                      0
9996        52.039422                      1
9997         5.203942                      1
9998        78.059133                      1
9999         0.318609                      0

[10000 rows x 2 columns]

## Task #7
Find All Agents who have worked on more than 2 types of Insurance Claims. Sort them by
Total Claim Amount Approved under them in descending order

In [248]:
df=insurance_df.groupby(['AGENT_ID','AGENT_NAME','CLAIM_AMOUNT'])['INSURANCE_TYPE'].count().reset_index().sort_values('INSURANCE_TYPE',ascending=False)
df[df['INSURANCE_TYPE'] > 2].sort_values('CLAIM_AMOUNT',ascending=False).head()

        AGENT_ID        AGENT_NAME  CLAIM_AMOUNT  INSURANCE_TYPE
5963  AGENT00794    Gladys Parsons         20000               3
5163  AGENT00688     Glenda Briney         20000               3
6641  AGENT00889       John Martin         20000               3
5660  AGENT00752     Trevor Bishop         19000               3
8435  AGENT01125  Frank Valenzuela         15000               3

## Task #8
Mobile & Travel Insurance premium are discounted by 10%

Health and Property Insurance premium are increased by 7%

Life and Motor Insurance premium are marginally increased by 2%

What will be overall change in % of the Premium Amount Collected for all these Customer?

In [252]:
insurance_df['INSURANCE_TYPE'].unique()

array(['Health', 'Life', 'Mobile', 'Property', 'Motor', 'Travel'],
      dtype=object)

In [265]:
premium=pd.DataFrame(insurance_df.groupby('INSURANCE_TYPE')['PREMIUM_AMOUNT'].sum())
premium

                PREMIUM_AMOUNT
INSURANCE_TYPE
Health               252455.73
Life                 125621.22
Mobile                15191.42
Motor                165391.98
Property             202285.83
Travel               124139.77

In [276]:
premium_df['PREMIUM_AMOUNT'].sum()

885085.95

In [282]:
def new_premium(premium_df):
    if (premium_df['INSURANCE_TYPE']=='Health') | (premium_df['INSURANCE_TYPE']=='Property'): 
        val = (premium_df['PREMIUM_AMOUNT'] * 0.07) + premium_df['PREMIUM_AMOUNT']
    elif (premium_df['INSURANCE_TYPE']=='Mobile') | (premium_df['INSURANCE_TYPE']=='Travel'): 
        val =  premium_df['PREMIUM_AMOUNT'] - (premium_df['PREMIUM_AMOUNT'] * 0.10) 
    elif (premium_df['INSURANCE_TYPE']=='Life') | (premium_df['INSURANCE_TYPE']=='Motor'): 
        val =  premium_df['PREMIUM_AMOUNT'] + (premium_df['PREMIUM_AMOUNT'] * 0.02) 
    return val

premium_df['NEW_PREMIUM']=premium_df.apply(new_premium,axis=1)

In [283]:
premium_df

  INSURANCE_TYPE  PREMIUM_AMOUNT  NEW_PREMIUM
0         Health       252455.73  270127.6311
1           Life       125621.22  128133.6444
2         Mobile        15191.42   13672.2780
3          Motor       165391.98  168699.8196
4       Property       202285.83  216445.8381
5         Travel       124139.77  111725.7930

In [286]:
premium_df['PERCENTAGE_CHANGE_PREMIUM']=((premium_df['NEW_PREMIUM']-premium_df['PREMIUM_AMOUNT'])/premium_df['NEW_PREMIUM'])*100
premium_df

  INSURANCE_TYPE  PREMIUM_AMOUNT  NEW_PREMIUM  PERCENTAGE_CHANGE_PREMIUM
0         Health       252455.73  270127.6311                   6.542056
1           Life       125621.22  128133.6444                   1.960784
2         Mobile        15191.42   13672.2780                 -11.111111
3          Motor       165391.98  168699.8196                   1.960784
4       Property       202285.83  216445.8381                   6.542056
5         Travel       124139.77  111725.7930                 -11.111111

## Task #9
Business wants to give discount to customer who are loyal and under stress due to Covid19.
They have laid down an eligibility Criteria as follow

IF CUSTOMER_TENURE > 60 AND EMPLOYMENT_STATUS = “N”
AND NO_OF_FAMILY_MEMBERS >=4 THEN 1 ELSE 0

Create a new column “ELIGIBLE_FOR_DISCOUNT” and find it
mean.

In [290]:
def discount(insurance_df):
    if (insurance_df['TENURE'] > 60) & (insurance_df['EMPLOYMENT_STATUS'] == 'N') & (insurance_df['NO_OF_FAMILY_MEMBERS'] >= 4):
        val=1
    else:
        val=0
    return val
insurance_df['ELIGIBLE_FOR_DISCOUNT'] = insurance_df.apply(discount, axis=1)

In [293]:
insurance_df['ELIGIBLE_FOR_DISCOUNT'].mean()

0.0299

## Task #10
Business wants to check Claim Velocity which is defined as follow

CLAIM_VELOCITY = NO_OF_CLAIMS_IN_LAST30DAYS (for the current insurance type)
/ NO_OF_CLAIMS_IN_LAST3DAYS (for the current insurance type)

Note: LAST30DAYS & LAST3DAYS does not include current
day

In [295]:
last_30_days_claim = insurance_df.loc[(insurance_df['TXN_DATE_TIME']>'2021-05-31') & (insurance_df['TXN_DATE_TIME']<'2021-06-30')]
last_3_days_claim = insurance_df.loc[(insurance_df['TXN_DATE_TIME']>'2021-06-27') & (insurance_df['TXN_DATE_TIME']<'2021-06-30')]

In [296]:
last_30_days_claim.groupby(['INSURANCE_TYPE']).count()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,CLAIM_DEVIATION,CLAIM_DEVIATION_VALUE,ELIGIBLE_FOR_DISCOUNT
INSURANCE_TYPE,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Health,136,136,136,136,136,136,136,136,136,136,136,34,135,136,136,136,136,136,136,136,136,136,136,136,136,136,128,136,136,136,136,136,136,135,136,136,94,136,136,136,18,136,136,136,136,136,94,94,15,91,94,94,136,136,136,136
Life,140,140,140,140,140,140,140,140,140,140,140,21,139,140,140,140,140,140,140,140,140,140,140,140,140,140,134,140,140,140,140,140,140,138,140,140,99,140,140,140,17,139,140,140,140,140,99,99,16,99,99,99,140,140,140,140
Mobile,134,134,134,134,134,134,134,134,134,134,134,15,134,134,134,134,134,134,134,134,134,134,134,134,134,134,126,134,134,134,134,134,134,134,134,134,92,134,134,134,19,133,134,134,134,134,92,92,13,91,92,92,134,134,134,134
Motor,122,122,122,122,122,122,122,122,122,122,122,14,120,122,122,122,122,122,122,122,122,122,122,122,122,122,118,122,122,122,122,122,122,122,122,122,84,122,122,122,18,121,122,122,122,122,84,84,18,84,84,84,122,122,122,122
Property,129,129,129,129,129,129,129,129,129,129,129,22,129,129,129,129,129,129,129,129,129,129,129,129,129,129,118,129,129,129,129,129,129,129,129,129,87,129,129,129,18,129,129,129,129,129,87,87,12,87,87,87,129,129,129,129
Travel,125,125,125,125,125,125,125,125,125,125,125,21,124,125,125,125,125,125,125,125,125,125,125,125,125,125,120,125,125,125,125,125,125,123,125,125,87,125,125,125,21,125,125,125,125,125,87,87,14,85,87,87,125,125,125,125

In [297]:
last_3_days_claim.groupby(['INSURANCE_TYPE']).count()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,CLAIM_DEVIATION,CLAIM_DEVIATION_VALUE,ELIGIBLE_FOR_DISCOUNT
INSURANCE_TYPE,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Health,14,14,14,14,14,14,14,14,14,14,14,1,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,10,14,14,14,3,14,14,14,14,14,10,10,0,9,10,10,14,14,14,14
Life,14,14,14,14,14,14,14,14,14,14,14,0,14,14,14,14,14,14,14,14,14,14,14,14,14,14,12,14,14,14,14,14,14,13,14,14,11,14,14,14,1,14,14,14,14,14,11,11,1,11,11,11,14,14,14,14
Mobile,10,10,10,10,10,10,10,10,10,10,10,3,10,10,10,10,10,10,10,10,10,10,10,10,10,10,9,10,10,10,10,10,10,10,10,10,6,10,10,10,1,10,10,10,10,10,6,6,0,6,6,6,10,10,10,10
Motor,13,13,13,13,13,13,13,13,13,13,13,2,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,9,13,13,13,2,13,13,13,13,13,9,9,4,9,9,9,13,13,13,13
Property,13,13,13,13,13,13,13,13,13,13,13,1,13,13,13,13,13,13,13,13,13,13,13,13,13,13,11,13,13,13,13,13,13,13,13,13,5,13,13,13,0,13,13,13,13,13,5,5,1,5,5,5,13,13,13,13
Travel,14,14,14,14,14,14,14,14,14,14,14,1,14,14,14,14,14,14,14,14,14,14,14,14,14,14,13,14,14,14,14,14,14,14,14,14,10,14,14,14,2,14,14,14,14,14,10,10,2,9,10,10,14,14,14,14

In [299]:
claim = pd.DataFrame()

claim['Insurance_Type'] = ['Health', 'Life', 'Mobile', 'Motor', 'Property', 'Travel']
claim['Last_30_days_claim'] = [136, 140, 134, 122, 129, 125]
claim['Last_3_days_claim'] = [14, 14, 10, 13, 13, 14]
claim['CLAIM_VELOCITY'] = claim['Last_30_days_claim']/claim['Last_3_days_claim']
claim

  Insurance_Type  Last_30_days_claim  Last_3_days_claim  CLAIM_VELOCITY
0         Health                 136                 14        9.714286
1           Life                 140                 14       10.000000
2         Mobile                 134                 10       13.400000
3          Motor                 122                 13        9.384615
4       Property                 129                 13        9.923077
5         Travel                 125                 14        8.928571

## Task #11
Find all low performing agents i.e. employees who are in the bottom 5 percentile based
on Claims worked by them.

In [311]:
percentile=insurance_df.groupby(['AGENT_NAME'])['INSURANCE_TYPE'].count().reset_index()
percentile['INSURANCE_TYPE'].quantile(0.05)

4.0

In [313]:
percentile[percentile['INSURANCE_TYPE']<4]

               AGENT_NAME  INSURANCE_TYPE
20          Alice Burcham               3
35             Amy Helton               3
52          Angelo Borjon               3
56          Annie Bobbitt               3
60          Anthony Joshi               3
166       Charles Tabares               3
171       Charlotte Payne               1
183      Christopher Amin               3
203           Clay Harmon               2
242   David Brandenberger               3
246        David Donnelly               3
323         Eleanor Timko               3
367      Florence Ashlock               2
421           Harold Bonn               1
431         Heather Piper               3
487          Janet Scales               3
640           Kenna Olsen               3
656           Larry Dryer               3
715           Luz Mcnally               3
754       Marsha Kingsley               2
770         Mary Franklin               3
773             Mary Lane               2
786      Matthew Harrison               3
804      Michael Cauffman               3
856        Nichole Wright               2
939        Richard Murphy               2
995          Roscoe Ricci               3
1002         Ross Herndon               3
1004          Roy Baldwin               3
1026        Sandra Tucker               2
1043            Sean Tate               3
1074       Stephen Fanter               3

## Task #12
Business wants to find all Suspicious Employees (Agents).
IF TOTAL CLAIM AMOUNT which meet below criteria is >= 15000 THEN AGENT is classified
as Suspicious ELSE Not
CLAIM_STATUS = Approved AND CUSTOMER_RISK_SEGMENTATION = High
AND INCIDENT_SEVERITY = “Major Loss”
If Suspicious, then 1 ELSE 0. Find mean of this column

In [324]:
suspicion=insurance_df[['CLAIM_STATUS','RISK_SEGMENTATION','INCIDENT_SEVERITY','CLAIM_AMOUNT']][(insurance_df['CLAIM_STATUS']=='A' )&( insurance_df['RISK_SEGMENTATION']=='H') & (insurance_df['INCIDENT_SEVERITY']=='Major Loss')]
suspicion

     CLAIM_STATUS RISK_SEGMENTATION INCIDENT_SEVERITY  CLAIM_AMOUNT
62              A                 H        Major Loss         23000
79              A                 H        Major Loss         54000
80              A                 H        Major Loss          5000
89              A                 H        Major Loss         18000
136             A                 H        Major Loss         17000
...           ...               ...               ...           ...
9873            A                 H        Major Loss         20000
9883            A                 H        Major Loss         46000
9890            A                 H        Major Loss         18000
9968            A                 H        Major Loss          6000
9973            A                 H        Major Loss          1000

[439 rows x 4 columns]

In [320]:
insurance_df.columns

Index(['TXN_DATE_TIME', 'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER',
       'POLICY_EFF_DT', 'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE',
       'PREMIUM_AMOUNT', 'CLAIM_AMOUNT', 'CUSTOMER_NAME', 'ADDRESS_LINE1_x',
       'ADDRESS_LINE2_x', 'CITY_x', 'STATE_x', 'POSTAL_CODE_x', 'SSN',
       'MARITAL_STATUS', 'AGE', 'TENURE', 'EMPLOYMENT_STATUS',
       'NO_OF_FAMILY_MEMBERS', 'RISK_SEGMENTATION', 'HOUSE_TYPE',
       'SOCIAL_CLASS', 'ROUTING_NUMBER', 'ACCT_NUMBER',
       'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS', 'INCIDENT_SEVERITY',
       'AUTHORITY_CONTACTED', 'ANY_INJURY', 'POLICE_REPORT_AVAILABLE',
       'INCIDENT_STATE', 'INCIDENT_CITY', 'INCIDENT_HOUR_OF_THE_DAY',
       'AGENT_ID', 'VENDOR_ID', 'AGENT_NAME', 'DATE_OF_JOINING',
       'ADDRESS_LINE1_y', 'ADDRESS_LINE2_y', 'CITY_y', 'STATE_y',
       'POSTAL_CODE_y', 'EMP_ROUTING_NUMBER', 'EMP_ACCT_NUMBER', 'VENDOR_NAME',
       'ADDRESS_LINE1', 'ADDRESS_LINE2', 'CITY', 'STATE', 'POSTAL_CODE',
       'COLOCATION', 'CLAIM_DEVIATION', 'CLAIM_DEVIATION_VALUE',
       'ELIGIBLE_FOR_DISCOUNT'],
      dtype='object')

In [327]:
def suspicious(suspicion):
    if (suspicion['CLAIM_AMOUNT'] >=15000) :
        val=1
    else:
        val=0
    return val

suspicion['SUSPICIOUS']=suspicion.apply(suspicious,axis=1)

In [328]:
suspicion

,CLAIM_STATUS,RISK_SEGMENTATION,INCIDENT_SEVERITY,CLAIM_AMOUNT,SUSPICIOUS
62,A,H,Major Loss,23000,1
79,A,H,Major Loss,54000,1
80,A,H,Major Loss,5000,0
89,A,H,Major Loss,18000,1
136,A,H,Major Loss,17000,1
...,...,...,...,...,...
9873,A,H,Major Loss,20000,1
9883,A,H,Major Loss,46000,1
9890,A,H,Major Loss,18000,1
9968,A,H,Major Loss,6000,0
9973,A,H,Major Loss,1000,0

In [329]:
suspicion['SUSPICIOUS'].mean()

0.3462414578587699